body {
  padding-top: 5rem;
  text-align: center;
  background-color: lavenderblush;
  color: black; }

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center; }

.textbackground {
  background-color: lavenderblush;
  color: black; }

.images {
  width: 100px;
  height: 100px;
  object-fit: cover; }
