
body {
  padding-top: 5rem;
  text-align: center;
  background-image: url("../images/italy.jpg");
  color: black; }
  font-size: 18px;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;

body {
display: -ms-flexbox;
display: flex;
color: black;

}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center; }


.textbackground {
  background-color: lavenderblush;
  color: black; }

.images {
  width:  100px;
  height: 100px;
  object-fit: cover;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: black;
  border: 0.05rem solid #fff;
}

.btn-primary {
  font-size:  18px;
  border-width: 1px;
}

.cover-container {
  max-width: 65em;
}
